<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">

<div class="container text-center">
    <div class="row">
        <div th:insert="~{header :: header}"></div>
    </div>
    <div class="row">
        <div class="d-flex" id="wrapper">
            <div th:insert="~{sider :: sider}"></div>

            <div id="page-content-wrapper">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                    <div class="d-flex align-items-center">
                        <h2 class="fs-2 m-0">Welcome</h2>
                    </div>
                </nav>

                <div class="container-fluid px-4">
                    <div class="row g-3 my-2">
                        <div class="col-md-4">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2">720</h3>
                                    <p class="fs-5">Visited</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2">21</h3>
                                    <p class="fs-5">Online orders to be handle</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                                <div>
                                    <h3 class="fs-2">8</h3>
                                    <p class="fs-5">Alert</p>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row my-5">
                        <h4 class="fs-4 mb-3">commodities going to be out of stock</h4>
                        <div class="col">
                            <table class="table bg-white rounded shadow-sm  table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">commodity id</th>
                                    <th scope="col">commodity name</th>
                                    <th scope="col">amount now</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>123</td>
                                    <td>bread A</td>
                                    <td>43</td>
                                </tr>
                                <tr>
                                    <td>234</td>
                                    <td>milk B</td>
                                    <td>22</td>
                                </tr>
                                <tr>
                                    <td>345</td>
                                    <td>milk C</td>
                                    <td>11</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:insert="~{footer :: footer}"></div>
    </div>

</div>

<script>
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");

    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
</script>

</body>
</html>