<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>shelfManagement</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="gray-bg" >

<div class="container text-center" >
  <div class="row">
    <div th:insert="~{header :: header}"></div>
  </div>
  <div class="row">
    <div class="d-flex" id="wrapper">
      <div th:insert="~{sider :: sider}"></div>
      <div id="page-content-wrapper">
        <!--  这个东西非常有意思，我把他放到文件夹里，似乎能找到，但是他不能include，被include的东西都得放根目录，不能引用放文件夹的，或者引用得是另外方式-->
        <div>
          <p>commodities on shelf</p>
          <table class="table bg-white rounded shadow-sm">
            <!--              <td><i class="bi bi-dice-2" style="font-size: 2rem; color: cornflowerblue;"></i> </td>-->
            <tr>
              <td><img src ="icons/dice-1.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-2.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-3.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-4.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-5.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-6.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
            </tr>
            <tr>
              <td><img src ="icons/dice-1-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-2-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td></td>

              <!--              <td><img src ="icons/dice-3-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>-->
              <td><img src ="icons/dice-4-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-5-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-6-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
            </tr>
            <tr>
              <td><img src ="icons/dice-1.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-2.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-3.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td></td>
<!--              <td><img src ="icons/dice-4.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>-->
              <td><img src ="icons/dice-5.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-6.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
            </tr>
            <tr>
              <td><img src ="icons/dice-1-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-2-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-3-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-4-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-5-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-6-fill.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
            </tr>
          </table>

          <p>commodities of the same type</p>
          <table class="table bg-white rounded shadow-sm ">
            <tr>
              <td><img src ="icons/dice-1.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-2.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-3.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-4.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-5.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
              <td><img src ="icons/dice-6.svg" style="font-size: 2rem; color: cornflowerblue;"/> </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div th:insert="~{footer :: footer}"></div>
  </div>

</div>

<script>
  var el = document.getElementById("wrapper");
  var toggleButton = document.getElementById("menu-toggle");

  toggleButton.onclick = function () {
    el.classList.toggle("toggled");
  };
</script>

</body>
</html>